<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tatiana FUHRER - Développeuse Web</title>
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
</head>
<body>
    {% include 'partials/header.html.twig' %}

    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'partials/header.html.twig' %}
    {% include 'partials/footer.html.twig' %}
</body>
</html>