<header class="header">
    <img src="{{ asset('assets/images/logo-tatiana.png') }}" alt="Tatiana Fuhrer - Développeuse Web" class="logo-image">
    
    <div id="menu-toggle" class="menu-icon">
        <i id="menu-icon" class="fa-solid fa-bars"></i>
    </div>

    <nav id="nav-menu" class="nav">
        <a href="#about">À propos</a>
        <a href="#compétences">Compétences</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </nav>
</header>